{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-extra-semi": [ 1 ],
    "no-unreachable": [ 1 ],
    "no-const-assign": [ 1 ],
    "no-var": [ 1 ],
    "arrow-parens": [ 1 ],
    "max-lines-per-function": ["warn", {"max": 25}],
    "arrow-body-style": ["error", "always"]
  }
}